* {
  margin: 0;
  padding: 0;
}
body {
  background-color: tomato;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
h2 {
  margin: 30px;
  text-shadow: 5px 1px white;
  font-size: 6rem;
  color: #f6b93b;
  text-align: center;
}
p {
  font-size: 2rem;
  color: #00b894;
  text-shadow: 1px 1px white;
}
button {
  padding: 10px;
  background-color: #00b894;
  color: white;
  border: none;
  border: 2px solid white;
}
input {
  padding: 10px;
  background-color: #00b894;
  color: white;
  border: 2px solid white;
  margin: 0.2cm;
}
img {
  width: 190px;
}
